@import 
'dashboard/navbar', 
'dashboard/results-table', 
'home/navbar', 
'home/contact', 
'loader', 
'login/back-link', 
'login/card', 
'logout';

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;    
}