$button-border: none;
$button-border-radius: 9px;
$button-min-width: 65px;
$button-padding: 5px 12px;
$button-cursor: pointer;
$button-transition-duration: 300ms;
$button-hover-transform: scale(0.9);
