// Fonts
$primary-font-family: Nunito, sans-serif;

// Body
$body-bg: white;

// Headers
$h1-margin-top: 0;

// Card
$card-width: 500px;
$card-margin: 50px auto 50px auto;
$card-padding: 30px 50px;
$card-bg: #FDFDFD;
$card-border: 1px solid #E8E8E8;
$card-border-radius: 15px;
$card-transition: box-shadow 300ms;
$card-hover-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
