// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// PrimeIcons
@import 'primeicons/primeicons.css';

// Styles
@import 'styles/card';
@import 'styles/container';
@import 'styles/datatable';
@import 'styles/form';
@import 'styles/icon';
@import 'styles/input_text';
@import 'styles/navbar';

// Variables
@import 'variables/app_variables';

#app {
    height: $app-height;
    background-color: $app-bg-color;
    background-image: $app-bg-image;
}
