// MyNavbar
$my-nav-width: 100%;
$my-nav-height: 123px;
$my-nav-display: flex;
$my-nav-align-items: center;

// MyNavbar container
$my-nav-container-display: flex;
$my-nav-container-justify-content: space-between;

// Logo
$logo-height: 30px;

// nav-link
$nav-link-font-weight: 600;
$nav-link-hover-text-decoration: underline;
