$navbar-width: 100vw;
$navbar-height: 60px;
$navbar-position: fixed;
$navbar-top: 0;
$navbar-left: 0;
$navbar-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
$navbar-display: flex;
$navbar-justify-content: center;
$navbar-font-weight: normal;

$navbar-container-margin: auto;
$navbar-container-height: 50px;
$navbar-container-width: 1200px;
$navbar-container-display: flex;
$navbar-container-justify-content: space-between;
$navbar-container-align-items: center;

$navbar-items-display: flex;
$navbar-items-gap: 25px;
$navbar-items-a-text-decoration: none;
$navbar-items-a-color: black;
