{% extends 'base.html.twig' %}

{% block title %}SMS List{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <button class="btn btn-primary" onclick="fetchSMS()">Fetch SMS</button>
                <br><br>

                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">SMS List</h1>
                    </div>
                    <div class="card-body" id="smsList">
                        <div class="tableContainer">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Sender</th>
                                    <th>Receiver</th>
                                    <th>Received Date</th>
                                    <th>Subject</th>
                                    <th>Content</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--
                                    SMS messages will be added here
                                -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function fetchSMS () {
            axios.get('/api/sms')
                .then(function (response) {
                    let smsList = response.data;
                    let smsTableBody = document.querySelector('#smsList tbody');

                    smsTableBody.innerHTML = '';

                    smsList.forEach(function (sms) {
                        let row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${sms.sender}</td>
                            <td>${sms.receiver}</td>
                            <td>${sms.received_date}</td>
                            <td>${sms.subject}</td>
                            <td>${sms.content}</td>
                            <td>
                                <button class="btn btn-danger smsButton" onclick="deleteSMS(${sms.id})">
                                    <i class="fas fa-trash-can"> </i>
                                </button>
                            </td>
                        `;
                        smsTableBody.appendChild(row);
                    });
                })
                .catch(function (error) {
                    console.error('Error fetching SMS messages:', error);
                });
        }

        function deleteSMS(id) {
            axios.delete(`/sms/${id}`)
                .then(() => {
                    location.reload();
                })
                .catch((error) => {
                    console.error(error);
                });
        }
    </script>
{% endblock %}
