@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-5 py-3 rounded-full w-max;
  }
}

body {
  background-color: gray;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

h1 {
  font-family: Montserrat;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.375rem;
}

h2 {
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.45rem;
  letter-spacing: -0.09rem;
}

h3 {
  font-family: Montserrat;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.0125rem;
  letter-spacing: -0.0875rem;
}
.photos {
  position: relative;
  width: 1440px;
  height: 1475px;
  text-align: center;
  margin: auto;
}

@media (min-width: 992px) {
  #mobileMenu {
    display: none;
  }
}
.pt-0375rem {
  padding-top: 0.375rem;
}


@media (max-width: 750px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

.carousel-item {
  z-index: 2;
}
.image {
  position: absolute;
  z-index: 2;
}
.photos {
  max-height: 2000px;
}
.button6 {
  position: relative;
  bottom: 100px;
  border: 1px solid green;
  display: flex;
  gap: 10px;
  z-index: 100;
}
.gradient {
  margin-top: -850px;
  position: relative;
  left: 0;
  background: linear-gradient(0deg, #dcc1ab, rgba(214, 183, 158, 0));
  width: 100%;
  height: 800px;
}
@media (max-width: 900px) {
  .photos {
    max-height: 600px;
  }
  .gradient {
    margin-top: -300px;
    height: 250px;
  }
  .button6 {
    border: 1px solid green;
    display: flex;
    gap: 10px;
  }
}