.contentContainer {
    max-width: 80%;
    padding-top: 2%;
}
.card {
    margin: 16px 0;
}
.card-body {
    padding: 35px 20px;
}
.modal-header {
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px;
}
.header {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.table {
    white-space: nowrap;
    table-layout: fixed;
    width: 100%;
}
.tableData {
    overflow: hidden;
}
.paginator {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.details {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -8px;
}
.btn {
    padding: 0 10px;
}
.fa-plus {
    margin-left: 10px;
}
.modal-dialog {
    width: auto;
}
.modal-content {
    padding: 0 10px;
}
.modal-footer {
    margin-bottom: -15px;
}
.form-group {
    margin-bottom: 10px;
    margin-top: 10px;
}
.col-3 {
    padding-top: 7px;
}
.alert {
    margin-top: 10px;
    margin-bottom: -10px;
    padding-bottom: 0;
}
.alert-success, .alert-danger {
    padding: 10px 17px 9px;
}
.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.eyeIcon, .editIcon, .trashIcon {
    color: black;
    font-size: 19px;
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 650px) {
    .col-3 {
        font-size: 12px;
    }
    .contentContainer {
        max-width: 99%;
        padding-top: 0;
    }
    .card-body {
        padding: 25px 10px;
    }
    .modal-content {
        padding: 0;
    }
}
