/* Home styles */
.contentContainer {
    max-width: 80%;
    padding-top: 2%;
}
.card {
    margin: 16px 0;
}
.card-body {
    padding: 35px 20px;
}
.header {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.table {
    white-space: nowrap;
    table-layout: fixed;
    width: 100%;
}
.tableData {
    overflow: hidden;
    padding-bottom: -5px;
}
td.tableData {
    vertical-align: middle;
}
.paginator {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.btn {
    padding: 0 10px;
}
.fa-plus {
    margin-left: 10px;
}

/* Modal styles */
.modal-body {
    padding-top: 12px;
}
.modal-dialog {
    width: auto;
}
.modal-content {
    padding: 0 10px;
}
.modal-header {
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px;
}
.modal-footer {
    margin-bottom: -15px;
}
.form-group {
    margin-bottom: 10px;
    margin-top: 10px;
}
.col-3 {
    padding-top: 7px;
}
.alert {
    margin-top: 10px;
    margin-bottom: -10px;
    padding-bottom: 0;
}
.alert-success, .alert-danger {
    padding: 10px 17px 9px;
}
.modalDetails {
    margin-bottom: 10px;
}
.details {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -8px;
}
.tags {
    display: flex;
}
.tagsDetailsModal {
    display: flex;
    flex-wrap: wrap;
}
.tag, .tagDetailsModal {
    background-color: rgb(54, 137, 245);
    color: white;
    border-radius: 8px;
    padding: 1px 12px;
    margin-right: 5px;
}
.tagDetailsModal {
    margin-top: 5px;
}

/* Icons styles */
.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
}
.eyeIcon, .editIcon, .trashIcon, .ellipsisIcon {
    cursor: pointer;
    color: black;
    font-size: 19px;
}
.ellipsisIcon {
    display: none;
}
.eyeIcon {
    margin-top: 1px;
}


/* User columns styles */
.nameCol {
    width: 30%;
}
.emailCol {
    width: 40%;
}
.createdAtCol {
    width: 20%;
}
/* Post columns styles */
.titleCol {
    width: 20%;
}
.descriptionCol {
    width: 40%;
    text-overflow: ellipsis;
}
.tagsCol {
    width: 22%;
}
.postDateCol {
    width: 10%;
}
td.tableData.postDateCol {
    padding-left: 12px;
}
/* Actions column styles */
.actionsCol {
    width: 8%;
    min-width: 100px;
}


@media (max-width: 640px) {
    .col-3 {
        font-size: 12px;
    }
    .contentContainer {
        max-width: 99%;
        padding-top: 0;
    }
    .card-body {
        padding: 25px 10px;
    }
}
@media (max-width: 800px) {
    .descriptionCol, .emailCol, .tagsCol, .createdAtCol {
        display: none;
    }
    .titleCol {
        width: 25%;
    }
    .tagsCol {
        width: 50%;
    }
    .nameCol {
        width: 25%;
    }
    .createdAtCol {
        width: 30%;
    }
    .emailCol {
        width: 50%;
    }
}
@media (max-width: 1400px) {
    .postDateCol {
        display: none;
    }
    .trashIcon, .editIcon, .eyeIcon {
        display: none;
    }
    .ellipsisIcon {
        display: inherit;
    }
    .descriptionCol {
        width: 50%;
    }
    .tagsCol {
        width: 40%;
    }
    .actionsCol {
        width: 4%;
        min-width: 45px;
    }
    .icons {
        justify-content: inherit;
        align-items: center;
        padding: 3px 7px;
    }
}
