* {
    box-sizing: border-box;
}
.contentContainer {
    max-width: 80%;
}
.card {
    margin-top: 16px;
}
.header {
    justify-content: space-between;
    display: flex;
}
.table {
    white-space: nowrap;
    table-layout: fixed;
    width: 100%;
}
.tableData {
    font-size: 15px;
    overflow: hidden;
}
td.tableData {
    vertical-align: middle;
}
.paginator {
    display: flex;
    justify-content: space-between;
}



.modal-header {
    white-space: nowrap;
    overflow: hidden;
}
.details {
    text-align: center;
}
.tags {
    display: flex;
}
.tagsDetailsModal {
    display: flex;
    flex-wrap: wrap;
}
.tag, .tagDetailsModal {
    background-color: rgb(54, 137, 245);
    color: white;
    border-radius: 8px;
    padding: 1px 12px;
    margin-right: 5px;
}

.tagDetailsModal {
    margin-top: 5px;
}


.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.eyeIcon, .editIcon, .trashIcon,
.emailCol, .descriptionCol, .postDateCol {
    display: none;
}
.eyeIcon, .editIcon, .trashIcon, .ellipsisIcon {
    cursor: pointer;
    color: black;
    font-size: 19px;
}
.ellipsisIcon {
    display: flex;
}


.nameCol {
    width: 55%;
}

.createdAtCol {
    width: 30%;
}
.tagsCol, .titleCol {
    width: 35%;
}
.actionsCol {
    width: 8%;
}
.titleCol, .descriptionCol {
    text-overflow: ellipsis;
}

@media (min-width: 640px) { 
    .card {
        margin-top: 3.25%;
    }
    .actionsCol {
        width: 7%;
    }
}

@media (min-width: 768px) {
    .emailCol, .postDateCol {
        display: table-cell;
    }
    .emailCol, .tagsCol {
        width: 55%;
    }
    .nameCol, .titleCol {
        width: 35%;
    }
    .createdAtCol, .postDateCol {
        width: 20%;
    }
}

@media (min-width: 1024px) {
    .descriptionCol {
        display: table-cell;
    } 
    .createdAtCol, .postDateCol {
        width: 23%;
    }
}



@media (min-width: 1536px) {
    .icons {
        gap: 10px;
    }
    .ellipsisIcon {
        display: none;
    }
    .eyeIcon, .editIcon, .trashIcon {
        display: flex;
    }
    
    .nameCol {
        width: 45%;
    }
    .emailCol {
        width: 100%;
    }
    .actionsCol {
        width: 13%;
    }
}

@media (max-width: 460px) {
    .ellipsisIcon {
        position: relative;
        left: 3px
    }
}
@media (max-width: 640px) {
    .contentContainer {
        max-width: 99%;
    }
}
