@import '../variables/components/card_variables';

@import '../variables/base/media_variables';

.headerContainer {
    display: $header-container-display;
    padding: $header-container-padding;
}
.p-card-header {
    padding-top: $p-card-header-padding-top;
    margin-bottom: $p-card-header-margin-bottom;
}
.articlesCard {
    margin: $articles-card-margin;
}

// Min width 600px
@media (min-width: $min-width-xs) {
    .headerContainer {
        display: $header-container-display-xs;
        justify-content: $header-container-justify-content-xs;
        padding: $header-container-padding-xs;
    }
}

// Min width 768px
@media (min-width: $min-width-sm) {
    .articlesCard {
        margin: $articles-card-margin-sm;
    }
}
