@import '../variables/components/datatable_variables';

@import '../variables/base/color_variables';

td {
    cursor: $td-cursor;
    white-space: $td-whitespace !important;
    overflow: $td-overflow !important;
    padding-right: $td-padding-right;
}
.p-highlight,
.p-highlight .p-icon {
    color: $orange-text-color;
}
