@import '../variables/components/dropdown_variables';

.p-dropdown-items {
    padding: $p-dropdown-items-padding;
    margin: $p-dropdown-items-margin;
}
.p-dropdown-label,
.p-dropdown-trigger {
    height: $p-dropdown-label-trigger-height;
}

.p-dropdown-label {
    padding: $p-dropdown-label-padding;
}
