@import '../variables/components/icon_variables';

@import '../variables/base/color_variables';
@import '../variables/base/font_variables';

.pi {
    cursor: $pi-cursor;
}
.searchIcon {
    color: $secondary-text-color;
    font-size: $font-size-lg;
}
