@import '../variables/components/icon_variables';

@import '../variables/base/color_variables';
@import '../variables/base/font_variables';

.pi {
    cursor: $pi-cursor;
}
.searchIcon {
    font-size: $font-size-lg;
    transition: $search-icon-transition;
}
.searchIcon:hover {
    color: $orange-text-color;
}
