@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  --white: #FFFFFF;
  --blue: #404E6C;
  --blue2: #414f6b;
  --lightblue: #61759E;
  --lightgray: #7A89A1;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  display: inline-block;
  text-decoration: none;
  letter-spacing: .1rem;
  font-size: 14px;
  font-weight: 700;
  margin-top: auto;
  vertical-align: middle;
}

/* CURSOR POINTER */
.logo,
.navbar-item,
.mountain-item {
  cursor: pointer;
}

/* POSITION RELATIVE */
li,
.image-container,
.number-header,
.history-header,
.climb-header,
.history-text,
.climb-text,
.mountain-item {
  position: relative;
}

/* POSITION ABSOLUTE */
.textContainer {
  position: absolute;
}
/* OSWALD FONT */
.history-header,
.climb-header,
.number-header,
.mountain-item {
  font-family: 'Oswald', sans-serif;
}

/* LATO FONT */
li,
.history-text,
.climb-text {
  font-family: 'Lato', sans-serif;
}

/* NAVBAR STYLES */
.navbar {
  padding: 0;
  transition: all 0.3s;
  color: var(--white);
}
.logo {
  width: 43px;
  height: 43px;
}
.scrolledLogo {
  display: none;
}
.navbar-item i {
  color: var(--white);
}
.navbar-items {
  display: inline-block;
  margin: 0;
  padding-left: 0;
}
.navbar-item {
  top: 5px;
  padding-right: 5px;
  margin-left: 15px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: fit-content;
  font-size: 12px;
}

/* MAIN STYLES */
.div-header {
  display: flex;
}
.number-header {
  font-size: 150px;
  font-weight: bold;
  color: var(--lightgray);
}
.header-01, .header-02 {
  margin-top: -12px;
}
.history-header,
.climb-header {
  font-weight: bold;
  top: 75px;
  right: 31px;
  font-size: 32px;
  color: var(--blue2);
}
.history-text {
  left: 0;
  padding: 0 30px 0 0;
  font-size: 17px;
  margin-top: -15px;
  font-weight: 400;
}
.climb-text {
  top: -10px;
  padding-left: 5px;
  font-size: 17px;
  font-weight: 300;
}
.mountain-items {
  padding: 0;
}
.mountain-item {
  padding-top: 2px;
  width: 140px;
  height: 40px;
  text-align: center;
  letter-spacing: 0;
  font-size: 22px;
}
.mountain-item-1 {
  background: var(--lightgray);
  color: var(--blue);
  text-decoration: 2px underline;
  text-underline-position: under;
}
.mountain-item-2 {
  background: var(--blue);
  color: var(--lightgray);
}
/* FOOTER STYLES */
footer {
  background: var(--blue);
  max-height: 74px;
  overflow: hidden;
}
.footer-item{
  color: var(--lightblue);
  border: 0;
  text-decoration: none;
  font-weight: 900;
  padding-top: 10px;
  font-size: 11px;
  text-align: right;
}
.footerLogo {
  height: 43px;
  margin: 8px;
}

/* CONTAINER STYLES */
.customContainer {
  width: 99%;
  padding: 7px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.textContainer {
  top: 25px;
  left: 15px;
  height: auto;
  width: 100%;
}
.textContainer .customContainer {
  padding: 0;
}
.teamContainer .customContainer {
  display: inline-block;
}
.mountainContainer .customContainer {
  padding: 0;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}
.gridContainer > *:nth-child(2) {
  max-height: 100px
}
.teamContainer {
  height: 300px;
}
.mountainContainer {
  background: var(--blue);
  height: 40px;
}
.carouselContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(64, 78, 108, 0.8)
}
.carouselContainer .customContainer {
  padding: 0;
  align-items: center;
  text-align: center;
}

/* IMAGE STYLES */
.image-container {
  overflow: hidden;
  max-height: 100vh;
}
.hero-image,
.history-image,
.climb-image {
  width: 100%;
}
.history-image {
  min-height: 500px;
  min-width: 1430px;
}
.hero-image {
  min-height: 430px;
  min-width: 460px;
}
.climb-image {
  min-height: 400px;
  min-width: 1200px;
}

/* CAROUSEL STYLES */
.carousel-inner {
  flex-direction: row;
  justify-content: center;
}
.carousel-item {
  padding: 25px 0 35px 0;;
  max-height: 196px;
  min-height: 135px;
}
.carousel-item img {
  margin: 0;
  width: 140px;
}
.carouselImageContainer {
  display: inline-block;
  width: 140px;
  overflow: hidden;
}
.carousel-indicators [data-bs-target] {
  width: 100%;
  height: 7px;
  margin: 0;
  text-align: center;
}
.carousel-indicators {
  bottom: 7px;
  margin: 0;
  gap: 6px;
}
.carousel-indicators button {
  padding: 0;
  max-width: 7px;
  max-height: 7px;
  border-radius: 100%;
}
#desktop-carousel {
  display: none;
}

@media (min-width: 600px) {
  .navbar-item {
    font-size: 16px;
  }
  .teamContainer {
    height: 270px;
  }
  .footer-items {
    padding-top: 7px;
  }
  .footer-item {
    font-size: 13px;
  }
  #desktop-carousel {
    display: inherit;
  }
  #mobile-carousel {
    display: none;
  }
}
@media (min-width: 768px) {
  .teamContainer {
    max-height: 180px;
  }
  .teamContainer .customContainer {
    display: flex;
  }
  .climb-text {
    top: 50px;
  }
  .header-02 {
    margin-left: 15px;
  }
  .carousel-item img {
    width: 180px;
  }
}

@media (min-width: 992px) {
  .carousel-item {
    padding: 25px 0 35px 0;
    max-height: 196px;
    min-height: 196px;
  }
  .carousel-item img {
    width: 220px;
    margin: 0 3px;
  }
  .customContainer {
    max-width: 960px;
    padding: 7px 0 7px 22px;
  }
  .textContainer {
    top: 49px;
    left: 0;
  }
  .history-text {
    margin-left: 74px;
  }
  .navbar-item {
    margin-left: 49px;
    font-size: 16px;
  }
  .footerLogo {
    margin-left: 0;
  }
  .footer-item {
    padding-right: 0;
  }
}
@media (min-width: 1600px) {
  .textContainer {
    top: 100px;
    left: 0;
  }
}
