* {
    box-sizing: border-box;
}
.contentContainer {
    max-width: 80%;
    margin-bottom: 16px; 
}
.card {
    margin-top: 16px;
}
.header {
    justify-content: space-between;
    display: flex;
    margin: 5px 5px 10px 5px;
}
.table {
    white-space: nowrap;
    table-layout: fixed;
    width: 100%;
}
.tableData {
    font-size: 15px;
    overflow: hidden;
}
td.tableData {
    vertical-align: middle;
}
.paginator {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.alert {
    margin: 10px 10px 0 10px;
}
.alert-warning {
    padding-bottom: 0px;
}
.alert-danger, .alert-success {
    padding: 11px 11px 11px 13px;
}
.modal-header {
    white-space: nowrap;
    overflow: hidden;
}
.modal-footer {
    margin-bottom: -15px;
}
.details {
    text-align: center;
}
.tags {
    display: flex;
}
.tagsDetailsModal {
    display: flex;
    flex-wrap: wrap;
}
.tag, .tagDetailsModal {
    background-color: rgb(54, 137, 245);
    color: white;
    border-radius: 8px;
    padding: 1px 12px;
    margin-right: 5px;
}
.tagDetailsModal {
    margin-top: 5px;
}
input.form-control {
    margin-bottom: 10px;
}
.col-4, .col-3 {
    padding: 10px 5px 5px 10px;
    font-size: 12px;
}
.btn {
    padding: 0 10px;
}
label {
    margin-bottom: 10px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.eyeIcon, .editIcon, .trashIcon,
.emailCol, .descriptionCol, .postDateCol {
    display: none;
}
.eyeIcon, .editIcon, .trashIcon, .ellipsisIcon {
    cursor: pointer;
    color: black;
    font-size: 19px;
}
.ellipsisIcon {
    display: flex;
}


.nameCol {
    width: 55%;
}

.createdAtCol {
    width: 30%;
}
.tagsCol, .titleCol {
    width: 35%;
}
.actionsCol {
    width: 8%;
}
.titleCol, .descriptionCol {
    text-overflow: ellipsis;
}


.page-dots {
    display: none;
}
@media (min-width: 640px) {
    .page-dots {
        display: flex;
    }
    .card {
        margin-top: 3.25%;
    }
    .actionsCol {
        width: 7%;
    }
    .header {
        margin: 10px 10px 15px 10px;
    }
    .col-4, .col-3 {
        padding: 10px 5px 5px 20px;
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .emailCol, .postDateCol {
        display: table-cell;
    }
    .emailCol, .tagsCol {
        width: 55%;
    }
    .nameCol, .titleCol {
        width: 35%;
    }
    .createdAtCol, .postDateCol {
        width: 20%;
    }
}

@media (min-width: 1024px) {
    .descriptionCol {
        display: table-cell;
    }
    .createdAtCol, .postDateCol {
        width: 23%;
    }
}



@media (min-width: 1536px) {
    .icons {
        gap: 10px;
    }
    .ellipsisIcon {
        display: none;
    }
    .eyeIcon, .editIcon, .trashIcon {
        display: flex;
    }

    .nameCol {
        width: 45%;
    }
    .emailCol {
        width: 100%;
    }
    .actionsCol {
        width: 14.5%;
    }
}

@media (max-width: 460px) {
    .ellipsisIcon {
        position: relative;
        left: 3px
    }
}
@media (max-width: 640px) {
    .contentContainer {
        max-width: 99%;
    }
}
