// Card header container
$header-container-display: block;
$header-container-padding: 0 25px;

// Articles card
$articles-card-margin: 40px 20px;

// .p-card-header
$p-card-header-padding-top: 20px;
$p-card-header-padding-left: 30px;
$p-card-header-margin-bottom: -30px;

// Min width 600px
$header-container-display-xs: flex;
$header-container-justify-content-xs: space-between;
$header-container-padding-xs: 0 35px;

// Min width 768px
$articles-card-margin-sm: 30px 40px;
