// Search form
$search-form-display: flex;
$search-form-align-items: center;
$search-form-gap: 20px;
$search-form-margin-y: 10px;
$search-form-margin-x: 0;

// Min width 600px
$search-form-margin-xs: 0 0 10px 0;
