// MyNavbar
$my-nav-width: 100%;
$my-nav-height: 123px;
$my-nav-padding: 39px 20px;
$my-nav-display: flex;
$my-nav-align-items: center;

// MyNavbar container
$my-nav-container-display: flex;
$my-nav-container-justify-content: space-between;

// Logo
$logo-height: 30px;

// MyNavbar right side
$my-nav-right-side-display: flex;
$my-nav-right-side-gap: 10px;

// nav .collapse
$nav-collapse-gap: 60px;

// .navbar-toggler
$navbar-toggler-padding: 15px;
$navbar-toggler-border: none;

// .nav-link
$nav-link-font-weight: 600;
$nav-link-hover-text-decoration: underline;
