{% extends "base.html" %}

{% block content %}

<a href="{% url 'expenses:expense-create' %}">add</a>

<form method="get" action="">
  {{form.as_p}}
  <button type="submit">search</button>
</form>
<br>
<table border="1">
	<caption>Expenses</caption>
	<thead>
	  <tr>
		<th>no.</th>
		<th>category</th>
		<th>name</th>
		<th>amount</th>
		<th>date</th>
		<th>actions</th>
	  </tr>
	</thead>
	<tbody>

	{% for obj in object_list %}
	  <tr>
		<td>{{ page_obj.start_index|add:forloop.counter0 }}.</td>
		<td>{{ obj.category|default:"-" }}</td>
		<td>{{ obj.name|default:"-" }}</td>
		<td>{{ obj.amount|floatformat:2 }}</td>
		<td>{{obj.date}}</td>
		<td>
		  <a href="{% url 'expenses:expense-edit' obj.id %}">edit</a>
		  <a href="{% url 'expenses:expense-delete' obj.id %}">delete</a>
		</td>
	  </tr>
	  {% empty %}
	  <tr>
		<td colspan="5">no items</td>
	  </tr>
	{% endfor %}
	</tbody>
</table>

{% include "_pagination.html" %}
<hr>
<style>
  .table-container {
    display: table-row;
  }
  table {
    display: table-cell;
    padding: 10px;
  }
  caption {
    margin-bottom: 10px;
  }
  span {
    margin-right: 10px;
  }
</style>

<div class="table-container">
  <table border="1">
    <caption>Total expenses per year</caption>
    <thead>
      <tr>
        <th>Year</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for total in total_per_year %}
        <tr>
          <td>{{ total.year }}</td>
          <td>{{ total.total|floatformat:2 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table border="1">
    <caption>Total expenses per month</caption>
    <thead>
      <tr>
        <th>Month</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for total in total_per_month %}
        <tr>
          <td>{{ total.year }}.{{ total.month }}</td>
          <td>{{ total.total|floatformat:2 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table border="1">
    <caption>Total expenses per category</caption>
    <thead>
      <tr>
        <th>Category</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for category, total in summary_per_category.items %}
        <tr>
          <td>{{ category }}</td>
          <td>{{ total|floatformat:2 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table border="1">
    <caption>Total amount spent</caption>
    <thead>
      <tr>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ total_amount|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
