@import '../variables/components/form_variables';

@import '../variables/base/media_variables';

.searchForm {
    display: $search-form-display;
    align-items: $search-form-align-items;
    gap: $search-form-gap;
    margin: $search-form-margin-y $search-form-margin-x;
}

// Min width 600px
@media (min-width: $min-width-xs) {
    .searchForm {
        margin: $search-form-margin-xs;
    }
}
