@import '../variables/components/navbar_variables';

@import '../variables/base/color_variables';
@import '../variables/base/font_variables';
@import '../variables/base/media_variables';

.navbar {
    padding: $my-nav-padding;
    background: $primary-bg-color;
}
.logo {
    height: $logo-height;
}
.myNavRightSide {
    display: $my-nav-right-side-display;
    gap: $my-nav-right-side-gap;
}
nav .collapse {
    gap: $nav-collapse-gap;
}
.navbar-toggler {
    padding: $navbar-toggler-padding;
    border: $navbar-toggler-border;
}
.navbar-toggler,
.navbarTogglerIcon {
    color: $secondary-text-color !important;
    font-size: $font-size-xl;
}
.nav-link {
    color: $secondary-text-color !important;
    font-size: $font-size-base;
    font-weight: $nav-link-font-weight;
}
.nav-link:hover {
    text-decoration: $nav-link-hover-text-decoration;
}

// Min width 768px
@media (min-width: $min-width-sm) {
    .navbar {
        padding: $my-nav-padding-sm;
    }
}
