.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  .35em 1em;
  background-color: var(--p-primary-50);
  box-shadow: 0 0 .5em 0 var(--p-gray-300);

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 1em;

    &-logo {
      margin: 0;
      width: 150px;
    }

    &-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;

      &-button {
        display: flex;
        font-size: $font-size-md;
        color: var(--p-neutral-800);
      }
    }

    &-logout {
      color: var(--p-neutral-800);
    }
  }
}