@import '../variables/base/colors_variables';
@import '../variables/base/fonts_variables';

@import '../variables/components/button_variables';

button {
    border: $button-border;
    border-radius: $button-border-radius;
    min-width: $button-min-width;
    padding: $button-padding;
    cursor: $button-cursor;
    transition-duration: $button-transition-duration;
    font-family: $secondary-font-family;
}

button:hover {
    transform: $button-hover-transform;
}

.successButton {
    background: $success-button-bg;
}

.infoButton {
    background: $info-button-bg;
}

.dangerButton {
    background: $danger-button-bg;
}
