@import "../variables/base/fonts_variables";
@import "../variables/components/card_variables";

.card {
    width: $card-width;
    margin: $card-margin;
    padding: $card-padding;
    background: $card-bg;
    border: $card-border;
    border-radius: $card-border-radius;
    transition: $card-transition;
    font-family: $primary-font-family;
}

.card:hover {
    box-shadow: $card-hover-box-shadow;
}

.cardHeader {
    display: $card-header-display;
    justify-content: $card-header-justify-content;
}

.card h1 {
    margin-top: $card-h1-margin-top;
}
