@import '../variables/components/item_variables';

.item {
    display: $item-display;
    flex-direction: $item-flex-direction;
    gap: $item-gap;
}

.itemButtons {
    display: $item-buttons-display;
    gap: $item-buttons-gap;
}
