@import "../variables/base/colors_variables";
@import "../variables/base/fonts_variables";

@import "../variables/components/navbar_variables";

.navbar {
    width: $navbar-width;
    height: $navbar-height;
    position: $navbar-position;
    top: $navbar-top;
    left: $navbar-left;
    background: $navbar-bg;
    box-shadow: $navbar-box-shadow;
    display: $navbar-display;
    justify-content: $navbar-justify-content;
    font-family: $secondary-font-family;
    font-weight: $navbar-font-weight;
}
.navbarContainer {
    margin: $navbar-container-margin;
    height: $navbar-container-height;
    width: $navbar-container-width;
    display: $navbar-container-display;
    justify-content: $navbar-container-justify-content;
    align-items: $navbar-container-align-items;
}

.navbarItems {
    display: $navbar-items-display;
    gap: $navbar-items-gap;
}
.navbarItems a {
    text-decoration: $navbar-items-a-text-decoration;
    font-family: $primary-font-family;
    color: $primary-black
}
.navbarItems a:hover {
    border-bottom: 1px solid $primary-black;
}
